.nav_container {
    /* For sticky nav when scroll */
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 9px 20px;
    background-color: var(--secondary-bg-color);
    box-shadow: rgba(3, 27, 78, 0.1) 0px 2px 4px;
    border-bottom: 1px solid var(--main-action-color);
}

.logo {
    max-height: 3.75rem;
}

.nav_list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list a {
    padding: 10px 17px;
}

.nav_list a:not(.highlight_btn):hover {
    color: var(--main-action-color);
}

.highlight_btn {
    background-color: var(--main-action-color);
    color: white !important;
    border-radius: 5px;
    margin: 0 4px;
}

.highlight_btn:hover {
    background-color: #014ab1;
}