.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 9px 20px;
    background-color: white;
    position: sticky;
    top: 0;
}

.logo {
    max-height: 3.75rem;
}

.nav_list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list a {
    padding: 10px 17px;
    color: black;
}

.nav_list a:not(.highlight_btn):hover {
    color: #006aff;
}

.highlight_btn {
    background-color: #006aff;
    color: white !important;
    border-radius: 5px;
    margin: 0 4px;
}

.highlight_btn:hover {
    background-color: #014ab1;
}