.post_peek {
    list-style: none;
    max-width: 870px;
    margin: 0 auto 37px auto;
    display: flex;
    overflow: hidden;
}

.post_image {
    width: 100%;
    max-width: 790px;
    border-radius: 3px;
    max-height: 169px;
    object-fit: cover;
}

.post_title {
    font-family: 'Sailec-Bold', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: var(--title-color);
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    word-break: break-word;
}

.post_author_info {
    display: flex;
    align-items: center;
    color: var(--unimportant-color);
}

.post_author_info a {
    color: var(--link-color);
}

.post_author_image {
    border-radius: 100px;
    object-fit: cover;
    width: 35px;
    height: 35px;
    margin: 8px;
}